.font-bg {
  background-color: #352825;
  color: #fff;
  font-weight: 500;
  padding: .5rem; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.margin-left {
  margin-left: auto; }

.mt-small {
  margin-top: 3rem; }

.mt-medium {
  margin-top: 10rem; }

.mt-huge {
  margin-top: 20rem; }

.mb-small {
  margin-bottom: 3rem; }

.mb-medium {
  margin-bottom: 10rem; }

.mb-huge {
  margin-bottom: 20rem; }

.pt-medium {
  padding-top: 10rem; }

.pt-huge {
  padding-top: 20rem; }

.pb-medium {
  padding-bottom: 10rem; }

.pb-huge {
  padding-bottom: 20rem; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth; }

body {
  background-color: #efebe6; }

body {
  font-family: "Montserrat", "Noto Sans KR", sans-serif, "sans-serif"; }

h2 {
  font-size: 3.5rem;
  text-transform: uppercase; }

p {
  font-weight: 100;
  font-size: 1.8rem;
  margin-top: 2rem;
  line-height: 2; }

.h1-subHeader {
  font-family: "Song Myung", serif;
  font-size: 5rem;
  color: #efebe6; }

.h1-subHeader-en {
  font-family: "Montserrat";
  font-weight: 800;
  color: #efebe6; }

.p-subHeader-ko {
  color: #efebe6;
  font-family: "Song Myung", serif; }

.h3-category {
  color: #352825;
  font-weight: 300;
  font-size: 2rem;
  margin: 0 0 1rem .5rem; }

.h2-category {
  font-size: 5rem;
  color: #394744;
  font-family: "Noto Sans KR", sans-serif; }

.btn, .btn:link, .btn:visited {
  display: inline-block;
  text-decoration: none;
  color: #394744;
  border: 1px solid #394744;
  padding: 2rem 5rem;
  font-size: 1.4rem;
  font-weight: 300;
  letter-spacing: 1px; }

.btn:hover {
  background-color: #394744;
  color: #fff;
  transition: all 0.3s; }

.btn:active {
  background-color: #323d3b;
  transform: translateY(0.5rem);
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2); }

.btn--beige {
  color: #aa9995 !important;
  border: 1px solid #aa9995 !important; }
  .btn--beige:hover {
    background-color: #aa9995 !important;
    color: #fff !important; }
  .btn--beige:active {
    background-color: #928380 !important; }

.footer {
  height: 75vh;
  padding-bottom: 1.5rem;
  background-color: #aa9995;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .footer__content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; }
  .footer__logo-container {
    width: 10%;
    padding-top: 13rem; }
  .footer__logo {
    width: 100%; }
  .footer__text-container {
    display: flex;
    justify-content: space-around;
    margin-top: auto; }
  .footer__text-wrapper {
    color: #352825; }
    .footer__text-wrapper:not(:last-child) {
      margin-right: 10rem; }
  .footer__text-primary {
    font-size: 2.5rem;
    font-weight: 900; }
  .footer__text-secondary {
    font-size: 1.7rem;
    font-weight: 500;
    margin-top: 1rem; }
  .footer__tel {
    letter-spacing: 1px;
    word-spacing: 3px; }
  .footer__email, .footer__email:visited, .footer__email:link {
    color: currentColor;
    text-decoration: none; }
  .footer__copyright {
    font-size: 1rem;
    color: #352825; }

.header {
  width: 100%; }
  .header-home {
    height: 130vh;
    background-image: url(../images/header-1.jpg);
    background-size: cover;
    position: relative; }
    .header-home__text {
      font-family: "Song Myung", serif;
      color: #fff;
      writing-mode: vertical-rl;
      position: absolute; }
      .header-home__text--1 {
        font-size: 4em;
        letter-spacing: 2px;
        left: 17rem;
        top: 41rem; }
      .header-home__text--2 {
        font-size: 8.5rem;
        left: 23rem;
        top: 23rem;
        letter-spacing: 10px; }
  .header-about {
    background-image: url(../images/about-header.jpg);
    position: relative;
    height: 80vh;
    background-size: cover;
    background-position: center; }
    .header-about__text {
      position: absolute;
      top: 27rem;
      left: 5rem;
      line-height: 1.5; }
      .header-about__text span {
        color: #a4a89a; }
  .header-sub__text {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%); }
    .header-sub__text--en {
      font-size: 9rem;
      font-weight: 900;
      top: 50%; }
    .header-sub__text--ko {
      font-family: "Noto Sans KR", sans-serif;
      font-size: 3rem;
      top: 58%; }
  .header-sub-barista {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/barista.jpg);
    position: relative;
    height: 80vh;
    background-size: cover;
    background-position: center; }
  .header-sub-woodcraft {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/woodcraft-header.jpg);
    position: relative;
    height: 80vh;
    background-size: cover;
    background-position: center; }
  .header-sub-facility {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/facility-header.jpg);
    position: relative;
    height: 80vh;
    background-size: cover;
    background-position: center; }
  .header-sub-location {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/location-header.jpg);
    position: relative;
    height: 80vh;
    background-size: cover;
    background-position: center; }

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 500;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .navbar__logo-container {
    width: 13rem; }
  .navbar__logo {
    width: 100%; }
  .navbar__checkbox {
    display: none; }
  .navbar__checkbox:checked + .navbar__menu .navbar__menu-container .navbar__menu-icon {
    background-color: transparent; }
  .navbar__checkbox:checked + .navbar__menu .navbar__menu-container .navbar__menu-icon::before {
    top: 0;
    transform: rotate(135deg); }
  .navbar__checkbox:checked + .navbar__menu .navbar__menu-container .navbar__menu-icon::after {
    top: 0;
    transform: rotate(-135deg); }
  .navbar__menu {
    position: relative;
    right: 2.5rem;
    border-radius: 50%;
    border: 1.5px solid #aa9995;
    cursor: pointer;
    transition: all 0.3s; }
    .navbar__menu:hover {
      border: 1.5px solid #1e464a; }
    .navbar__menu:hover .navbar__menu-container .navbar__menu-icon,
    .navbar__menu:hover .navbar__menu-container .navbar__menu-icon::before,
    .navbar__menu:hover .navbar__menu-container .navbar__menu-icon::after {
      background-color: #1e464a; }
    .navbar__menu-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 6rem;
      height: 6rem; }
    .navbar__menu-icon, .navbar__menu-icon::before, .navbar__menu-icon::after {
      position: absolute;
      display: inline-block;
      left: 1.2rem;
      width: 3.5rem;
      height: .4rem;
      background-color: #aa9995;
      border-radius: 3rem;
      transition: all 0.3s; }
    .navbar__menu-icon::before, .navbar__menu-icon::after {
      content: ""; }
    .navbar__menu-icon::before {
      top: -1.2rem;
      left: 0; }
    .navbar__menu-icon::after {
      top: 1.2rem;
      left: 0; }

.navigation {
  position: fixed;
  z-index: 400;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: #efebe6;
  color: #1e464a;
  right: -200rem;
  transition: .5s; }
  .navigation__container {
    display: flex; }
  .navigation__image-container {
    width: 60%;
    height: 100vh;
    background-image: linear-gradient(rgba(170, 153, 149, 0.3), rgba(170, 153, 149, 0.3)), url(../images/sidebar.jpg);
    background-size: cover; }
  .navigation__item-container {
    font-family: "Song Myung", serif;
    font-size: 3.5rem;
    font-weight: 900;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
  .navigation__list {
    margin-left: 5rem;
    margin-top: 12rem; }
  .navigation__item {
    display: block;
    list-style: none; }
    .navigation__item:not(:last-child) {
      margin-bottom: 3rem; }
    .navigation__item:hover {
      color: #aa9995;
      transition: all 0.3s; }
  .navigation__link, .navigation__link:visited, .navigation__link:link {
    color: currentColor;
    text-decoration: none; }
  .navigation.active {
    right: 0; }
  .navigation__contact {
    border-top: 1px solid #aa9995;
    padding: 4rem 5rem;
    color: #aa9995; }
    .navigation__contact-icon {
      margin-right: 1.5rem;
      font-size: 1.8rem; }
    .navigation__contact p {
      font-family: "Noto Sans KR", sans-serif;
      font-size: 1.3rem;
      font-weight: 500;
      letter-spacing: 2px;
      margin-top: 0; }
      .navigation__contact p:not(:last-child) {
        margin-bottom: 2.5rem; }

.message {
  width: 100%;
  height: 100vh;
  position: relative; }
  .message__image-container {
    width: 40%;
    height: auto;
    position: absolute;
    z-index: 200; }
  .message__img {
    width: 100%; }
  .message__textBox {
    background-image: linear-gradient(rgba(239, 235, 230, 0.7), rgba(239, 235, 230, 0.7)), url(../images/profile-background.jpg);
    background-size: cover;
    width: 80%;
    height: 90vh;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 10rem;
    left: 50%;
    transform: translateX(-50%); }
  .message__text {
    width: 60%;
    margin-left: auto;
    padding: 10rem; }
    .message__text h2 {
      font-weight: 500;
      font-size: 3rem;
      color: #352825; }
    .message__text span {
      font-size: 2rem; }
    .message__text p {
      line-height: 2.5;
      padding-top: 2rem; }
  .message__cats {
    width: 35%;
    margin-left: auto;
    margin-right: 10rem; }
    .message__cats-wrapper {
      display: flex;
      justify-content: space-between; }
    .message__cats-container {
      width: 25%; }
      .message__cats-container figcaption {
        text-align: center;
        font-size: 1.5rem; }
    .message__cats-img {
      width: 100%;
      border-radius: 50%; }

.about-quote__image-container {
  width: 100%;
  height: 100vh;
  background-image: url(../images/about-quote-1.jpg);
  background-size: cover; }

.about-quote__textBox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70vh;
  background-color: #111111;
  color: #adadad; }
  .about-quote__textBox p {
    font-size: 2.5rem; }
    .about-quote__textBox p span {
      display: block;
      font-size: 1.6rem;
      margin-top: 2rem; }

.barista-description {
  position: relative;
  text-align: center;
  padding: 20rem; }
  .barista-description__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../images/barista-description.jpg);
    background-size: cover;
    opacity: .2; }
  .barista-description p {
    font-weight: 300;
    font-size: 2rem; }

.barista-image {
  width: 100%;
  height: auto; }

.barista__img {
  width: 100%; }

.barista__center {
  font-size: 1.5rem;
  font-weight: 100; }
  .barista__center-2 {
    margin-left: auto; }
  .barista__center figure {
    width: 70%; }

.course {
  display: flex; }
  .course__itemContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #efebe6;
    width: 100%;
    height: 90vh;
    background-position: center;
    background-size: 100%;
    transition: all 0.7s; }
    .course__itemContainer:hover {
      background-size: 110%; }
    .course__itemContainer--1 {
      background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/1.jpg); }
      .course__itemContainer--1:hover {
        background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/1.jpg); }
    .course__itemContainer--2 {
      background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/2.jpg); }
      .course__itemContainer--2:hover {
        background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/2.jpg); }
  .course__text {
    padding: 0 10rem;
    text-align: center; }
    .course__text h2 {
      font-family: "Song Myung", serif;
      font-size: 5rem; }

.certification {
  width: 100%;
  height: auto; }
  .certification__description {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
    padding: 13rem; }
    .certification__description p {
      font-size: 2rem;
      font-weight: 500; }
  .certification__logo {
    position: absolute;
    top: 8rem;
    left: 20rem;
    width: 15%;
    opacity: .5;
    z-index: -1; }
  .certification__process {
    width: 100%; }
    .certification__process-list {
      display: flex;
      justify-content: center; }
    .certification__process-item {
      background-color: #fff;
      width: 20%;
      text-align: center;
      padding: 4rem;
      margin-right: 3rem;
      box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2); }
      .certification__process-item h3 {
        font-size: 1.8rem;
        font-weight: 300;
        margin-top: 1.3rem; }
      .certification__process-item p {
        font-size: 1.5rem;
        line-height: 1.5;
        margin-top: 1rem; }
    .certification__process--wood {
      background-color: #a4a89a; }
      .certification__process--wood h2 {
        font-weight: 300;
        font-size: 4.5rem; }
      .certification__process--wood h3 {
        font-weight: 100;
        font-size: 1.8rem; }
  .certification__icon {
    font-size: 4rem;
    color: #aa9995; }
    .certification__icon--wood {
      color: #394744; }

.hand-drip__container {
  width: 100%;
  height: auto;
  display: flex;
  padding: 0 7rem; }

.hand-drip__item {
  width: 100%;
  height: 100%;
  margin: 0 5rem; }

.hand-drip__img {
  width: 100%;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2); }

.hand-drip__info {
  margin-left: 2rem;
  font-weight: 100;
  line-height: 2;
  font-size: 1.5rem; }

.hand-drip__recommendation {
  font-size: 1.5rem;
  list-style: none; }
  .hand-drip__recommendation-icon {
    margin-right: 1rem;
    margin-bottom: 1rem; }
  .hand-drip__recommendation li {
    font-weight: 100; }

.hand-drip__textBox p {
  writing-mode: vertical-rl;
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 7rem; }

.hand-drip__textBox h2 {
  font-weight: 100;
  font-size: 5rem;
  margin-bottom: 7rem; }

.timetable__container {
  width: 100%;
  height: auto;
  padding: 0 12rem;
  display: flex; }

.timetable__table {
  width: 100%;
  height: 100%; }

.timetable table {
  border-collapse: collapse;
  width: 100%;
  border-spacing: 0;
  table-layout: fixed;
  word-break: break-all; }

.timetable td, .timetable th {
  border: 1px solid #a4a89a;
  text-align: center; }

.timetable td {
  width: 25%;
  padding: 3rem 1rem; }

.timetable th {
  background-color: #394744;
  color: #fff;
  font-size: 1.5rem;
  padding: 8px; }

.timetable h5 {
  font-size: 1.5rem;
  font-weight: 500; }

.timetable p {
  font-size: 1.3rem; }

.timetable__textBox {
  width: 50%;
  height: 100%;
  text-align: center; }
  .timetable__textBox h3 {
    font-size: 3rem;
    font-weight: 300; }

.review {
  width: 90%;
  margin: 0 auto;
  color: #394744; }
  .review__row {
    display: flex;
    align-items: center;
    padding: 0 15rem; }
  .review__col {
    width: 33.3333%;
    padding: 2rem;
    font-size: 1.7rem;
    font-weight: 100;
    line-height: 2.5; }
  .review__img {
    width: 100%; }
  .review p {
    font-family: "Song Myung", serif;
    margin: 0; }

.facility__row {
  display: flex;
  width: 100%;
  padding: 0 7rem; }

.facility__imageBox {
  width: 65%; }

.facility__textBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 35%;
  text-align: center; }
  .facility__textBox--right {
    margin-left: 7rem; }
  .facility__textBox--left {
    margin-right: 7rem; }
  .facility__textBox h2 {
    font-size: 4rem;
    font-weight: 500;
    text-transform: initial;
    color: #394744; }
  .facility__textBox p {
    font-size: 1.7rem; }
  .facility__textBox span {
    display: block;
    font-size: 1.3rem;
    font-weight: 500; }

.facility__img {
  width: 100%; }

.about-school {
  position: relative;
  width: 100%;
  height: 65vh;
  background-image: linear-gradient(rgba(50, 61, 59, 0.9), rgba(50, 61, 59, 0.9)), url(../images/school.jpg);
  background-size: cover;
  color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 25rem; }
  .about-school h3 {
    font-family: "Song Myung", serif;
    font-weight: 500;
    font-size: 3.2rem;
    color: #aa9995;
    margin-bottom: 3rem; }
    .about-school h3::before {
      content: "\201C";
      position: absolute;
      top: 4rem;
      left: 8rem;
      transform: rotate(5deg);
      font-size: 35rem;
      color: rgba(164, 168, 154, 0.2); }
  .about-school p:last-child {
    font-size: 2rem;
    font-family: "Song Myung", serif;
    color: #aa9995; }

.activity {
  width: 100%; }
  .activity-left, .activity-right {
    position: relative; }
  .activity__textBox {
    width: 45rem;
    height: 45rem;
    padding: 5rem;
    position: absolute;
    z-index: 300;
    color: #394744;
    background-color: #fff;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2); }
    .activity__textBox--left {
      top: 7rem;
      right: 10rem; }
    .activity__textBox--right {
      top: 7rem;
      left: 10rem; }
  .activity__text h2 span {
    font-size: 2rem;
    font-weight: 300;
    margin-left: 2rem; }
  .activity__image-container {
    width: 70%;
    position: relative;
    z-index: 200;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 2rem;
    font-weight: 100; }
    .activity__image-container--right {
      margin-left: auto; }
  .activity__img {
    width: 100%; }
  .activity__gradient {
    width: 60%;
    height: 40rem;
    position: absolute; }
    .activity__gradient--left {
      right: 38rem;
      bottom: -4rem;
      background-image: linear-gradient(to right bottom, #4343bd, #efebe6, #aa9995); }
    .activity__gradient--right {
      left: 38rem;
      bottom: -4rem;
      background-image: linear-gradient(to right bottom, #efebe6, #aa9995, rgba(245, 186, 177, 0.5)); }
  .activity__btn {
    margin-top: 5rem; }

.school-video {
  width: 100%;
  height: 80vh;
  background-color: #a4a89a; }

.gallery__container--1 {
  display: flex;
  justify-content: center; }

.gallery__container--2 {
  position: relative; }

.gallery__image-container--1 {
  width: 35%;
  margin-right: 10rem; }

.gallery__image-container--2 {
  width: 45%;
  align-self: flex-end; }

.gallery__image-container--3 {
  width: 65%;
  margin-left: 9rem; }

.gallery__image-container--4 {
  width: 25%;
  position: absolute;
  bottom: -5rem;
  right: 18rem; }

.gallery__img {
  width: 100%;
  height: auto;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2); }

.location {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: linear-gradient(rgba(239, 235, 230, 0.3), rgba(239, 235, 230, 0.3)), url(../images/location-1.jpg);
  background-size: cover;
  width: 100%;
  height: 80vh; }
  .location__container {
    width: 80%;
    height: 50vh;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 15rem; }
  .location__ko {
    font-size: 2.5rem; }
  .location__en {
    display: block;
    font-size: 2rem; }
  .location__message {
    font-weight: 300; }
  .location__mapContainer {
    display: flex;
    padding: 10rem; }
  .location__map {
    display: inline-block; }
  .location__nearby-tour {
    padding: 1rem 5rem; }
    .location__nearby-tour h2 {
      font-weight: 300; }
    .location__nearby-tour ul {
      list-style: none;
      font-size: 2rem;
      font-weight: 300;
      line-height: 1.8; }

.woodcraft-description {
  position: relative;
  text-align: center;
  padding: 17rem 20rem; }
  .woodcraft-description__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url(../images/wood-1.jpg);
    background-size: cover; }
  .woodcraft-description p {
    font-family: "Song Myung", serif;
    font-size: 3.5rem;
    color: #fff; }

.gallery-wood__row {
  display: flex;
  width: 100%;
  padding: 0 18rem; }

.gallery-wood__col {
  padding: 3rem; }

.gallery-wood__img {
  width: 100%; }
