
// BUTTON
.btn {

    &,
    &:link,
    &:visited {
        display: inline-block;
        text-decoration: none;
        color: $color-green-2;
        border: 1px solid $color-green-2;
        padding: 2rem 5rem;

        font-size: 1.4rem;
        font-weight: 300;
        letter-spacing: 1px;
    }

    &:hover {
        background-color: $color-green-2;
        color: $color-white;
        transition: $transition-1;
    }

    &:active {
        background-color: $color-green-3;
        @include btn-active;
    }

    &--beige {
        color: $color-beige-1 !important;
        border: 1px solid $color-beige-1 !important;

        &:hover {
            background-color: $color-beige-1 !important;
            color: $color-white !important;
        }

        &:active {
            background-color: #928380 !important;
        }
    }
}