.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $color-beige-2;
    padding-top: 13rem;

    @include respond(tab-port) {
        padding-top: 18rem;
    }

    @include respond(phone-land) {
        padding-top: 8rem;
    }

    @include respond(phone) {
        padding-top: 10rem;
    }

    @include respond(smallPhone-land) {
        padding-top: 8rem;
    }


    &__text {
        display: flex;
        justify-content: space-between;
        text-align: center;
        padding-top: 20rem;
        transform: translateX(4.5rem);

        @include respond(desktop) {
            transform: translateX(2rem);
        }

        @include respond(tab-port) {
            flex-direction: column;
            transform: translateX(0);
            padding-top: 16rem;
        }
    }

    &__col {
        &:not(:last-child) {
            margin-right: 5rem;

            @include respond(tab-port) {
                margin-right: 0;
                margin-bottom: 7rem;
            }
        }

        &--logo {
            display: flex;
            flex-direction: column;
        }
    }

    &__primary {
        font-size: 2.7rem;
        font-weight: 300;
        margin-bottom: 1rem;

        @include respond(small-phone) {
            font-size: 3.5rem;
        }
    }

    &__secondary {
        font-weight: 200;
        letter-spacing: 2px;
        font-size: 1.5rem;
        color: rgb(51, 51, 51);
        margin: 0;

        @include respond(phone) {
            font-size: 2.2rem;
        }
    }

    &__copyright {
        font-size: 1rem;
        margin-top: auto;
        padding-top: 12rem;
        margin-bottom: 2rem;


        @include respond(phone) {
            font-size: 6px;
        }
    }

    &__img { width: 100%; }
    &__logo { 
        width: 7%; 
        padding-top: 10rem;

        @include respond(desktop) {
            width: 10%;
        }

        @include respond(phone) {
            width: 13%;
        }
    }
}