.header {
    width: 100%;

    // HOME
    &-home {
        height: 120vh;
        background-image: url(../images/header-1.jpg);
        background-repeat: no-repeat;
        background-size: 100%;
        position: relative;

        &__text {
            font-family: $font-secondary-ko;
            color: $color-white;
            writing-mode: vertical-rl;
            position: absolute;

            &--1 {
                font-size: 4em;
                letter-spacing: 2px;
                left: 17rem;
                top: 41rem;
            }

            &--2 {
                font-size: 8.5rem;
                left: 23rem;
                top: 23rem;
                letter-spacing: 10px;
            }
        }
    }

    // ABOUT
    &-about {
        background-image: url(../images/about-header.jpg);
        @include subHeader;

        &__text {
            position: absolute;
            top: 27rem;
            left: 5rem;
            line-height: 1.5;

            span {
                color: $color-green-1;
            }
        }
    }

    &-sub {

        &__text {
            position: absolute;
            left: 50%;
            transform: translate(-50%, -50%);

            &--en {
                font-size: 9rem;
                font-weight: 900;
                top: 40%;
            }

            &--ko {
                font-family: $font-primary-ko;
                font-size: 3rem;
                top: 58%;
            }
        }

        &-barista {
            background-image: linear-gradient(rgba($color-black, .5), rgba($color-black, .5)), url(../images/barista.jpg);
            @include subHeader;
        }

        &-woodcraft {
            background-image: linear-gradient(rgba($color-black, .5), rgba($color-black, .5)), url(../images/woodcraft-header.jpg);
            @include subHeader;
        }

        &-facility {
            background-image: linear-gradient(rgba($color-black, .5), rgba($color-black, .5)), url(../images/facility-header.jpg);
            @include subHeader;
        }

        &-location {
            background-image: linear-gradient(rgba($color-black, .4), rgba($color-black, .4)), url(../images/location-header.jpg);
            @include subHeader;
        }
    }
}


.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 500;
    padding: 2rem;

    display: flex;
    justify-content: space-between;
    align-items: center;

    &__logo-container {
        width: 13rem;
    }

    &__logo {
        width: 100%;
    }

    // MENU TOGGLE FUNCTIONALITY
    &__checkbox {
        display: none;
    }

    &__checkbox:checked+&__menu &__menu-container &__menu-icon {
        background-color: transparent;
    }

    &__checkbox:checked+&__menu &__menu-container &__menu-icon::before {
        top: 0;
        transform: rotate(135deg);
    }

    &__checkbox:checked+&__menu &__menu-container &__menu-icon::after {
        top: 0;
        transform: rotate(-135deg);
    }

    &__menu {
        position: relative;
        right: 2.5rem;
        border-radius: 50%;
        border: 1.5px solid $color-beige-1;
        cursor: pointer;
        transition: $transition-1;

        &:hover {
            border: 1.5px solid $color-green-4;
        }

        &:hover &-container &-icon,
        &:hover &-container &-icon::before,
        &:hover &-container &-icon::after {
            background-color: $color-green-4;
        }

        &-container {
            @include flex-col-center;
            width: 6rem;
            height: 6rem;
        }

        &-icon {

            &,
            &::before,
            &::after {
                position: absolute;
                display: inline-block;
                left: 1.2rem;
                width: 3.5rem;
                height: .4rem;
                background-color: $color-beige-1;
                border-radius: 3rem;
                transition: $transition-1;
            }

            &::before,
            &::after {
                content: "";
            }

            &::before {
                top: -1.2rem;
                left: 0;
            }

            &::after {
                top: 1.2rem;
                left: 0;
            }
        }
    }
}



