.header {
    width: 100%;

    // HOME
    &-home {
        width: 100%;
        min-height: 130vh; 
        background-image: url(../images/header-1.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;

        @include respond(desktop) { 
            min-height: 125vh;
            background-position: 20% 0;
        }

        @include respond(tab-port) {
            min-height: 110vh; 
        }

        @include respond(phone) {
            min-height: 71vh; 
        }
        
        @include respond(small-phone) {
            min-height: 65vh;
        }

        &__textBox {
            display: flex;
            align-items: flex-end;  
            position: absolute;
            top: 50%;
            left: 15rem;
            transform: translateY(-50%);

            @include respond(phone) {
                left: 10rem;
            }
        }

        &__text {
            font-family: $font-secondary-ko;
            color: $color-beige;
            writing-mode: vertical-rl;

            &--1 {
                font-size: 4em;
                letter-spacing: 2px;

                @include respond(desktop) {
                    font-size: 4.5rem;
                }

                @include respond(desktop) {
                    font-size: 4.5rem;
                }
            }

            &--2 {
                font-size: 10.5rem;
                letter-spacing: 10px; 
                margin: 0;

                @include respond(phone) {
                    font-size: 9rem;
                }
            }
        }
    }

    // ABOUT
    &-about {
        background-image: url(../images/about-header.jpg);
        @include subHeader;

        // MEDIA QUERY 
        @include respond(desktop) {
            height: 70vh;
        }

        @include respond(tab-port) {
            height: 70vh;
        }

        @include respond(phone) {
            height: 45vh;
        }

        @include respond(small-phone) {
            height: 40vh;
        }

        &__text {
            line-height: 1.5;
            padding-left: 8rem;

            span {
                color: $color-green-1;
            }

            @include respond(phone) {
                padding-left: 0;
            }
        }

        &__textBox {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);

            @include respond(phone) {
                left: 10em
            }

            @include respond(small-phone) {
                left: 15em
            }
        }
    }

    &-sub {

        &__text {
            position: absolute;
            left: 50%;
            transform: translate(-50%, -50%);

            &--en {
                font-size: 9rem;
                font-weight: 900;
                top: 40%;
            }

            &--ko {
                font-family: $font-primary-ko;
                font-size: 3rem;
                top: 58%;
            }
        }

        &-barista {
            background-image: linear-gradient(rgba($color-black, .5), rgba($color-black, .5)), url(../images/barista.jpg);
            @include subHeader;
        }

        &-woodcraft {
            background-image: linear-gradient(rgba($color-black, .5), rgba($color-black, .5)), url(../images/woodcraft-header.jpg);
            @include subHeader;
        }

        &-facility {
            background-image: linear-gradient(rgba($color-black, .5), rgba($color-black, .5)), url(../images/facility-header.jpg);
            @include subHeader;
        }

        &-location {
            background-image: linear-gradient(rgba($color-black, .4), rgba($color-black, .4)), url(../images/location-header.jpg);
            @include subHeader;
        }
    }
}



.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 500;
    padding: 3rem;

    display: flex;
    justify-content: space-between;
    align-items: center;

    @include respond(desktop) {
        padding: 5rem;
    }

    @include respond(phone) {
        padding: 3rem;
    }

    @include respond(small-phone) {
        padding: 5rem;
    }

    &__logo-container {
        width: 13rem;
        padding-top: 1rem;
    }

    &__logo {
        width: 100%;
    }

    // MENU TOGGLE FUNCTIONALITY
    &__checkbox {
        display: none;
    }

    &__checkbox:checked+&__menu &__menu-container &__menu-icon {
        background-color: transparent;
    }

    &__checkbox:checked+&__menu &__menu-container &__menu-icon::before {
        top: 0;
        transform: rotate(135deg);
    }

    &__checkbox:checked+&__menu &__menu-container &__menu-icon::after {
        top: 0;
        transform: rotate(-135deg);
    }

    &__menu {
        position: relative;
        border-radius: 50%;
        border: 3px solid $color-orange;
        cursor: pointer;
        transition: $transition-1;

        @include respond(phone) {
            border: 2px solid $color-orange;
        }

        &-container {
            @include flex-col-center;
            width: 6rem;
            height: 6rem;
        }

        &-icon {

            &,
            &::before,
            &::after {
                position: absolute;
                display: inline-block;
                left: 1.2rem;
                width: 3.5rem;
                height: .4rem;
                background-color: $color-orange;
                border-radius: 3rem;
                transition: $transition-1;

                @include respond(tab-port) {
                    height: .6rem;
                }
            }

            &::before,
            &::after {
                content: "";
            }

            &::before {
                top: -1.2rem;
                left: 0;
            }

            &::after {
                top: 1.2rem;
                left: 0;
            }
        }
    }
}



