.navigation {
    position: fixed;
    z-index: 400;
    width: 100%;
    height: 100vh;
    background-color: $color-beige-2;
    color: $color-black;

    @include respond(tab-port) {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    @include respond(phone-land) {
        overflow: scroll;
    }

    @include respond(smallPhone-land) {
        overflow: scroll;
        padding: 30rem 0;
    }

    &__container {
        display: flex;

        @include respond(tab-port) {
            flex-direction: column;
        }
    }

    &__image-container {
        width: 60%;
        height: 100vh;
        background-image: linear-gradient(rgba($color-beige-1, .3), rgba($color-beige-1, .3)), url(../images/navigation.jpg);
        background-position: center;
        background-size: cover;

        @include respond(desktop) {
            width: 40%;
        }

        @include respond(tab-port) {
            width: 100%;
            height: 35vh;
        }

        @include respond(phone-land) {
            height: auto;
        }

        @include respond(smallPhone-land) {
            height: auto;
        }
}

    &__item-container {
        font-size: 2.7rem;
        font-weight: 700;
        padding: 5rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        @include respond(tab-port) {
            padding: 10rem 15rem 0 0;
        }

        @include respond(phone-land) {
            padding-top: 7rem;
        }

        @include respond(smallPhone-land) {
            height: auto;
            padding-top: 14rem;
        }
    }

    &__list {
        margin-left: 5rem;
        margin-top: 12rem;

        @include respond(tab-port) {
            margin-left: 0;
            margin-top: 0;
        }
    }

    &__item {
        display: block;
        list-style: none;

        &:not(:last-child) {
            margin-bottom: 3rem;

            @include respond(phone) {
                margin-bottom: 7rem;
            }
        }

        &:hover {
            color: $color-orange;
            transition: $transition-1;
        }
    }

    &__link {
        &,
        &:visited,
        &:link {
            color: currentColor;
            text-decoration: none;

            @include respond(desktop) {
                font-size: 3rem;
            }

            @include respond(phone) {
                font-size: 3.3rem;
            }

            span {
                font-weight: 200;
                margin-left: 2rem;
                font-size: 1.8rem;

                @include respond(phone) {
                    font-size: 2.5rem;
                }
            }
        }
        &--contact { color: $color-orange !important; }
    }

    // SLIDE SIDEBAR
    right: -200rem;
    transition: .5s;

    &.active {
        right: 0;
    }

    &__contact {
        border-top: 1px solid $color-beige-1;
        padding: 4rem 5rem;
        color: $color-beige-1;

        &-icon {
            margin-right: 1.5rem;
            font-size: 1.8rem;
        }

        p {
            font-family: $font-primary-ko;
            font-size: 1.3rem;
            font-weight: 500;
            letter-spacing: 2px;
            margin-top: 0;

            &:not(:last-child) {
                margin-bottom: 2.5rem;
            }
        }
    }
}