@mixin flex-col-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin subHeader {
    position: relative;
    height: 80vh;
    background-size: cover;
    background-position: center;
}

@mixin btn-active {
    transform: translateY(.5rem);
    box-shadow: $shadow-1;
}