@mixin flex-col-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin block-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin subHeader {
    position: relative;
    height: 80vh;
    background-size: cover;
    background-position: center;
}

@mixin btn-active {
    transform: translateY(.5rem);
    box-shadow: $shadow-1;
}

// MEDIA QUERY MANAGER

/*
0 - 320px: small phone
321 - 480px: phone
481 - 768px: Tablet Portrait
769 - 992px: Tablet Landscape
993 - 1200px: Desktop
1201px +: Big screen

Breakpoint argument choices:
- small-phone                               
- phone        
- tab-port
- tab-land
- desktop
- big-desktop

1em = 16px
*/

@mixin respond($breakpoint) {

    @if $breakpoint==small-phone {
        @media only screen and (max-width: 20em) {
            @content
        }

        ; //  320px 
    }

    @if $breakpoint==phone {
        @media only screen and (max-width: 30em) {
            @content
        }

        ; //  480px
    }

    @if $breakpoint==tab-port {
        @media only screen and (max-width: 48em) {
            @content
        }

        ; // 768px
    }

    @if $breakpoint==tab-land {
        @media only screen and (max-width: 62em) {
            @content
        }

        ; // 992px
    }

    @if $breakpoint==desktop {
        @media only screen and (max-width: 75em) {
            @content
        }

        ; // 1200px
    }

    @if $breakpoint==big-desktop {
        @media only screen and (min-width: 75.06em) {
            @content
        }

        ; // 1201px
    }
}



