body {
    font-family: $font-primary-en, $font-primary-ko, 'sans-serif';

    //line-height: 1;
    //color: $color-primary-light;
}

h2 {
    font-size: 3.5rem;
    text-transform: uppercase;
}

p {
    font-weight: 100;
    font-size: 1.8rem;
    margin-top: 2rem;
    line-height: 2;
}

.h1-subHeader {
    font-family: $font-secondary-ko;
    font-size: 5rem;
    color: $color-beige;
}

.h3-category {
    color: $color-brown;
    font-weight: 300;
    font-size: 2rem;
    margin: 0 0 1rem .5rem;
}


