.font-bg {
    background-color: $color-brown;
    color: $color-white;
    font-weight: 500;
    padding: .5rem;
}

.text-center { text-align: center; }
.text-right { text-align: right; }
.margin-left { margin-left: auto; }

.mt-small { margin-top: 3rem; }
.mt-medium { margin-top: 10rem; }
.mt-huge { margin-top: 20rem; }

.mb-small { margin-bottom: 3rem; }
.mb-medium { margin-bottom: 10rem; }
.mb-huge { margin-bottom: 20rem; }

.pt-medium { padding-top: 10rem; }
.pt-huge { padding-top: 20rem; }

.pb-medium { padding-bottom: 10rem; }
.pb-huge { padding-bottom: 20rem;}

.wp { opacity: 0; }
.wp.animated {opacity: 1; }