// COLOR
$color-black: #000;
$color-white: #fff;

$color-pink: #f5bab1;
$color-brown: #352825;
$color-orange: #be7e64;
$color-orange-1: #c77a5e;
$color-light-grey: #adadad;

$color-beige: #efebe6;
$color-beige-1: #aa9995;
$color-beige-2: #f7f3ec;

$color-green-1: #a4a89a;
$color-green-2: #394744;
$color-green-3: #323d3b;

// FONT
$font-primary-en: 'Montserrat';
$font-primary-ko: 'Noto Sans KR', sans-serif;
$font-secondary-ko: 'Song Myung', serif;

// TRANSITION
$transition-1: all .3s; 
$transition-2: all .7s; 

$shadow-1:  0px 3px 15px rgba(0,0,0,0.2);





