.barista {

    &-description {
        position: relative;
        text-align: center;
        padding: 20rem;

        &__bg {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-image: url(../images/barista-description.jpg);
            background-size: cover;
            opacity: .2;
        }

        p {
            font-weight: 300;
            font-size: 2rem;
        }
    }

    // Barista Big image 
    &-image {
        width: 100%;
        height: auto;
    }

    &__img { width: 100%; }

    // Barista Center
    &__center {
        font-size: 1.5rem;
        font-weight: 100;

        &-2 { margin-left: auto;}
        figure { width: 70%; }
    }
}


.course {
    display: flex;

    &__itemContainer {
        @include flex-col-center;
        color: $color-beige;
        width: 100%;
        height: 90vh;
        background-position: center;
        background-size: 100%;
        transition: $transition-2;
        
        &:hover { 
            background-size: 110%; 
        }
        
        &--1 { 
            background-image: linear-gradient(rgba($color-black, .7), rgba($color-black, .7)), url(../images/1.jpg); 

            &:hover {
                background-image: linear-gradient(rgba($color-black, .6), rgba($color-black, .6)), url(../images/1.jpg); 
            }
        }

        &--2 { 
            background-image:linear-gradient(rgba($color-black, .7), rgba($color-black, .7)), url(../images/2.jpg);

            &:hover {
                background-image: linear-gradient(rgba($color-black, .6), rgba($color-black, .6)), url(../images/2.jpg); 
            }
        }
    }

    &__text {
        padding: 0 10rem;
        text-align: center;

        h2 {
            font-family: $font-secondary-ko;
            font-size: 5rem;
        }
    }
}

.certification {
    width: 100%;
    height: auto;

    // DESCRIPTION  
    &__description {
        @include flex-center;
        position: relative;
        text-align: center;
        padding: 13rem;

        p {
            font-size: 2rem;
            font-weight: 500;
        }
    }

    &__logo {
        position: absolute;
        top: 8rem;
        left: 20rem;
        width: 15%;
        opacity: .5;
        z-index: -1;
    }

    // PROCESS
    &__process {
        width: 100%;
        display: flex;
        justify-content: center;

        &-item {
            background-color: $color-white;
            width: 20%;
            text-align: center;
            padding: 4rem;
            margin-right: 3rem;
            box-shadow: $shadow-1;

            h3 {
                font-size: 1.8rem;
                font-weight: 300;
                margin-top: 1.3rem;
            }

            p {
                font-size: 1.5rem;
                line-height: 1.5;
                margin-top: 1rem;
            }
        }
    }

    &__icon {                                           // change to SVG icon !
        font-size: 4rem;
        color: $color-beige-1;
    }
}

.hand-drip {

    &__container {
        width: 100%;
        height: auto;
        display: flex;
        padding: 0 7rem;
    }

    &__item {
        width: 100%;
        height: 100%;
        margin: 0 5rem;
    }

    &__img { 
        width: 100%;
        box-shadow: $shadow-1;
    }

    &__info {
        margin-left: 2rem;
        font-weight: 100;
        line-height: 2;
        font-size: 1.5rem;
    }

    &__recommendation {
        font-size: 1.5rem;
        list-style: none;

        &-icon {
            margin-right: 1rem; 
            margin-bottom: 1rem;
        }

        li { font-weight: 100; }
    }

    // RIGHT BOX
    &__textBox {

        p {
            writing-mode: vertical-rl;
            font-size: 2rem;
            font-weight: 500;
            margin-bottom: 7rem;
        }

        h2 {
            font-weight: 100;
            font-size: 5rem;
            margin-bottom: 7rem;
        }
    }
}

.timetable {

    &__container {
        width: 100%;
        height: auto;                   
        padding: 0 12rem;
        display: flex;
    }

    &__table {                          
        width: 100%;
        height: 100%;
    }

    // TABLE
    table {
        border-collapse: collapse;
        width: 100%;

        border-spacing: 0;
        table-layout: fixed;
        word-break: break-all;
    }

    td, th {
        border: 1px solid $color-green-1;
        text-align: center;
    }

    td {
        width: 25%;
        padding: 3rem 1rem;
    }

    th {
        background-color: $color-green-2;
        color: $color-white;
        font-size: 1.5rem;
        padding: 8px;
    }

    h5 { 
        font-size: 1.5rem;
        font-weight: 500;
    }

    p { font-size: 1.3rem; }

    // TEXT BOX
    &__textBox {
        width: 50%;
        height: 100%;
        text-align: center;

        h3 {
            font-size: 3rem;
            font-weight: 300;
        }
    }
}


.review {
    width: 90%;
    margin: 0 auto;
    color: $color-green-2;

    &__row {
        display: flex;
        align-items: center;
        padding: 0 15rem;
    }

    &__col {
        width: 33.3333%;
        padding: 2rem;

        font-size: 1.7rem;
        font-weight: 100;
        line-height: 2.5;
    }

    &__img { width: 100%; }

    p {
        font-family: $font-secondary-ko;
        margin: 0;
    }
}