.barista {

    &-description {
        position: relative;
        text-align: center;
        padding: 20rem;

        @include respond(desktop) {
            padding: 15rem 6rem;
        }

        @include respond(smallPhone-land) {
            padding: 10rem 5rem;
        }

        @include respond(small-phone) {
            padding: 15rem 10rem;
        }

        &__bg {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-image: url(../images/barista-description.jpg);
            background-size: cover;
            opacity: .2;
        }

        p {
            font-weight: 300;
            font-size: 2rem;
        }
    }

    // Barista Big image 
    &-image {
        width: 100%;
        height: auto;
    }

    &__img { width: 100%; }

    // Barista Center
    &__center {
        font-size: 1.5rem;
        font-weight: 100;

        &-2 { margin-left: auto;}
        figure { 
                width: 70%; 

                @include respond(phone) {
                    width: 90%;
                }
        }

        @include respond(phone) {
            padding-top: 15rem !important;
            margin-bottom: 20rem !important;
        }
    }

    &__icon {
        font-size: 1.5rem;
    }
}


.course {
    display: flex;

    @include respond(phone) {
        flex-direction: column;
    }

    &__itemContainer {
        @include flex-col-center;
        color: $color-beige;
        width: 100%;
        height: auto;
        min-height: 85vh;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;
        transition: $transition-2;

        @include respond(desktop) {
            background-size: cover;
            min-height: 80vh;
        }

        @include respond(tab-land) {
            min-height: 70vh;
        }

        @include respond(phone) {
            min-height: 60vh;
        }

        &:hover { 
            background-size: 110%;  

            // IE
            @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
                background-size: cover;
            }

            @include respond(desktop) {
                background-size: cover;
            }
        }
        
        &--1 { 
            background-image: linear-gradient(rgba($color-black, .7), rgba($color-black, .7)), url(../images/1.jpg); 

            &:hover {
                background-image: linear-gradient(rgba($color-black, .6), rgba($color-black, .6)), url(../images/1.jpg); 
            }
        }

        &--2 { 
            background-image:linear-gradient(rgba($color-black, .7), rgba($color-black, .7)), url(../images/2.jpg);

            &:hover {
                background-image: linear-gradient(rgba($color-black, .6), rgba($color-black, .6)), url(../images/2.jpg); 
            }
        }
    }

    &__text {
        padding: 0 10rem;
        text-align: center;

        @include respond(phone-land) {
            padding: 10rem 5rem;
        }

        @include respond(smallPhone-land) {
            padding: 8rem 5rem;
        }

        h2 {
            font-family: $font-secondary-ko;
            font-size: 5rem;

            // IE
            @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
                font-family: $font-primary-ko;
                font-weight: 300;
            }

            @include respond(phone-land) {
                font-size: 4rem;
            }

            @include respond(smallPhone-land) {
                font-size: 3rem;
            }
        }
    }
}

.certification {
    width: 100%;
    height: auto;

    // DESCRIPTION  
    &__description {
        @include flex-center;
        position: relative;
        padding: 13rem;

        @include respond(phone-land) {
            padding: 7rem;
        }

        @include respond(phone) {
            padding: 8rem 15rem;
        }

        @include respond(smallPhone-land) {
            padding: 5rem;
        }

        @include respond(small-phone) {
            padding: 15rem;
        }

        p {
            font-size: 2rem;
            font-weight: 500;
        }
    }

    &__logo {
        position: absolute;
        top: 8rem;
        left: 20rem;
        width: 15%;
        opacity: .5;
        z-index: -1;

        @include respond(phone-land) {
            left: 10rem;
        }

        @include respond(phone) {
            left: 10rem;
        }

        @include respond(smallPhone-land) {
            left: 10rem;
        }
    }

    // PROCESS
    &__process {
        width: 100%;

        &-list {
            display: flex;
            justify-content: center;

            @include respond(phone) {
                flex-direction: column;
                align-items: center;
            }

            @include respond(smallPhone-land) {
                flex-direction: column;
                align-items: center;
            }
        }

        &-item {
            background-color: $color-white;
            width: 20%;
            text-align: center;
            padding: 4rem;
            box-shadow: $shadow-1;

            &:not(:last-child) {
                margin-right: 3rem;
            }

            @include respond(phone) {
                width: 80%;

                &:not(:last-child) {
                    margin-bottom: 2rem;
                    margin-right: 0;
                }
            }

            @include respond(smallPhone-land) {
                width: 80%;

                &:not(:last-child) {
                    margin-bottom: 2rem;
                    margin-right: 0;
                }
            }

            h3 {
                font-size: 1.8rem;
                font-weight: 300;
                margin-top: 1.3rem;
            }

            p {
                font-size: 1.5rem;
                line-height: 1.5;
                margin-top: 1rem;
            }
        }

        // WOODCRAFT
        &--wood {
            background-color: $color-green-1;

            h2 {
                font-weight: 300;
                font-size: 4.5rem;
            }

            h3 { 
                font-weight: 100;
                font-size: 1.8rem;
            }
        }
    }

    &__icon {                                          
        font-size: 3rem;
        color: $color-brown;

        &--wood { 
            font-size: 4rem;
            color: $color-green-3;
        }
    }
}

.hand-drip {

    @include respond(phone) {
        margin: 0 !important;
        padding: 0 !important;
    }

    @include respond(smallPhone-land) {
        margin:  5rem 0 !important;
        padding: 5rem 0 !important;
    }

    &--wood {
        @include respond(smallPhone-land) {
            padding: 0 !important;
        }
    }

    &__container {
        width: 100%;
        height: auto;
        display: flex;
        padding: 0 7rem;

        @include respond(desktop) {
            padding: 0;
        }

        @include respond(phone) {
            padding: 7rem;
            flex-direction: column;
            align-items: center;
        }

        @include respond(smallPhone-land) {
            padding: 0;
        }

        @include respond(small-phone) {
            padding: 9rem;
        }
    }

    &__item {
        width: 100%;
        height: 100%;
        margin: 0 5rem;

        @include respond(smallPhone-land) {
            margin: 2rem;
        }

        p {     // MOBILE
            @include respond(phone) {
                margin-top: 5rem;
            }
        }
    }

    &__img { 
        width: 100%;
        box-shadow: $shadow-1;
    }

    &__info {
        margin-left: 2rem;
        font-weight: 100;
        line-height: 2;
        font-size: 1.5rem;
    }

    &__recommendation {
        font-size: 1.5rem;
        list-style: none;

        &-icon {
            margin-right: 1rem; 
            margin-bottom: 1rem;
        }

        li {
            font-weight: 100; 
            &:not(:last-child) { margin-bottom: .5rem; }
        }

        span {display: block; padding-bottom: 1rem;}
    }

    // RIGHT BOX
    &__textBox {

        p {
            //writing-mode: vertical-rl;
            writing-mode: initial;
            font-size: 2rem;
            font-weight: 500;
            margin-bottom: 7rem;

            @include respond(phone) {
                text-align: center;
                margin-bottom: 5rem;
            }
        }

        h2 {
            font-weight: 100;
            font-size: 4rem;
            margin-bottom: 7rem;

            @include respond(phone) {
                text-align: center;
            }
        }
    }

    // MOBILE
    &__hidden {

        @include respond(phone) {
            display: none;
        }
    }

    // Advanced - reverse ORDER
    &__advanced {

        @include respond(phone) {
            flex-direction: column-reverse;
        }
    }
}

.timetable {

    @include respond(phone) {
        margin-top: 0;
    }

    &__container {
        width: 100%;
        height: auto;                   
        padding: 0 20rem;

        @include respond(desktop) {
            padding: 0 10rem;
        }

        @include respond(phone) {
            padding: 0 5rem;
        }
    }

    &__table {                          
        width: 100%;
        height: 100%;
    }

    // TABLE
    table {
        border-collapse: collapse;
        width: 100%;

        border-spacing: 0;
        table-layout: fixed;
        word-break: break-all;
    }

    td, th {
        border: 1px solid $color-light-grey;
        text-align: center;
    }

    td {
        width: 25%;
        padding: 3rem 1rem;
    }

    th {
        background-color: $color-green-3;
        color: $color-white;
        font-size: 1.5rem;
        padding: 8px;
    }

    h5 { 
        font-size: 1.5rem;
        font-weight: 500;
    }

    p { font-size: 1.3rem; }

    // TEXT BOX
    &__textBox {
        width: 50%;
        height: 100%;
        text-align: center;

        h3 {
            font-size: 3rem;
            font-weight: 300;
        }
    }
}


.review {
    width: 80%;
    margin: 0 auto;
    color: $color-green-2;
    padding-top: 10rem;

    @include respond(phone) {
        width: 100%;
        padding-top: 0;
    }

    @include respond(phone-land) {
        padding-top: 0;
    }

    @include respond(smallPhone-land) {
        padding-top: 0;
    }

    &__row {
        display: flex;
        align-items: center;
        padding: 0 15rem;

        @include respond(desktop) {
            padding: 0 8rem;
        }

        @include respond(tab-port) {
            padding: 0 5rem;
        }

        @include respond(phone) {
            padding: 0 3rem;
            justify-content: center;
        }
    }

    &__col {
        width: 33.3333%;
        padding: 2rem;

        font-size: 1.7rem;
        font-weight: 100;
        line-height: 2.5;

        @include respond(phone) {
            padding: 1.5rem 2rem;
            width: 50%;
        }

        @include respond(phone-land) {
            padding: 1rem 1.4rem;
            width: 50%;
        }

        @include respond(smallPhone-land) {
            padding: 1rem 1.4rem;
            width: 50%;
        }
    }

    &__img { width: 100%; }

    p {
        font-weight: 300;
        margin: 0;
    }
}