.location {
    @include flex-center;
    flex-direction: column;
    background: linear-gradient(to right bottom, $color-beige, $color-green-1, rgba($color-green-2, .6));
    background-size: cover;
    width: 100%;
    height: auto;
    padding: 15rem;

    @include respond(desktop) {
        padding: 10rem;
    }

    @include respond(phone) {
        padding: 0;
    }

    &__container {
        width: 100%;
        height: auto;
        min-height: 100vh;
        background-color: $color-white;
        @include flex-col-center;
        padding: 10rem;
        font-size: 1.7rem;

        @include respond(desktop) {
            min-height: 70vh;
        }

        @include respond(phone) {
            min-height: 65vh;
        }

        p {
            font-size: 2rem;
            font-weight: 300;

            &:not(last-child) {
                padding-top: 3rem;

                @include respond(phone) {
                    padding-top: 5rem;
                }
            }
        }

        span {
            display: inline-block;
            font-weight: 500;
        }
    }
    
    &__message {
        font-weight: 300;
        color: $color-green-3;
        font-family: $font-secondary-ko;

        svg {
            width: 2.3rem;
            height: 2.3rem;
            margin-left: .5rem;
        }
    }

    &__nearby-tour {
        margin-left: 7rem;
        color: $color-beige;
        font-family: $font-secondary-ko;

        display: flex;
        flex-direction: column;
        justify-content: center;

        @include respond(phone) {
            margin-top: 7rem;
        }

        h2 { 
            font-size: 3rem;
        }
        ul {
            list-style: circle;
            font-size: 2rem;
            font-weight: 300;
            line-height: 1.8;  
        }
    }
}

.map {

    &__wrapper {
        width: 100%;
        height: auto;
        margin-top: 15rem;
        display: flex;
        justify-content: center;
    
        @include respond(phone) {
            flex-direction: column;
            padding: 10rem 3rem;
            margin-top: 0;
        }

        @include respond(small-phone) {
            flex-direction: column;
            padding: 15rem 5rem;
            margin-top: 0;
        }
    }

    &__container {
        width: 55%;
        height: auto;

        @include respond(desktop) {
            width: 65%;
        }
    
        @include respond(phone) {
            width: 100%;
        }
    }
}

