.facility {
    
    &__row {
        display: flex;
        width: 100%;
        padding: 0 7rem;
    }

    &__imageBox {
        width: 65%;
    }

    &__textBox {
        width: 35%;
        text-align: center;
        padding-top: 17rem;

        &--right { margin-left: 7rem; }
        &--left { margin-right: 7rem; }

        h2 {
            font-size: 5rem;
            font-weight: 700;
            text-transform: initial;
            color: $color-beige;
        }

        p { font-size: 1.7rem;}

        span {
            display: block;
            font-size: 1.3rem;
            font-weight: 500;
        }
    }

    &__img { width: 100%; }
}