.about-school {
    position: relative;
    width: 100%;
    height: auto;
    min-height: 65vh;
    background-image: linear-gradient(rgba($color-green-3, .9), rgba($color-green-3, .9)), url(../images/school.jpg);
    background-size: cover;
    color: $color-white;
    text-align: center;
    @include flex-col-center;
    align-items: center;
    padding: 0 25rem;

    @include respond(desktop) {
        min-height: 50vh;
        padding: 10rem 8rem;
    }

    @include respond(phone) {
        min-height: 40vh;
        padding: 0 5rem;
    }

    @include respond(small-phone) {
        min-height: 45vh;
    }

    h3 {
        font-family: $font-secondary-ko;
        font-size: 3.2rem;
        color: $color-beige-1;
        margin-bottom: 3rem;

        @include respond(small-phone) {
            font-size: 3.5rem;
        }

        &::before {
            content: "\201C";
            position: absolute;
            top: 4rem;
            left: 8rem;
            transform: rotate(5deg);
            font-size: 35rem;
            color: rgba($color-green-1, .2);
        }
    }

    p:last-child {
        font-size: 2rem;
        font-family: $font-secondary-ko;
        color: $color-beige-1;

        @include respond(small-phone) {
            font-size: 2.5rem;
        }
    }
}

.activity {
    width: 100%;
    overflow: hidden;

    &-left,
    &-right {
        position: relative;
    }

    &-right {

        @include respond(desktop) {
            margin-top: 35rem;
            margin-bottom: 30rem;
        }

        @include respond(small-phone) {
            margin-top: 30rem;
        }
    }

    &__textBox {
        width: 45rem;
        height: auto;
        min-height: 45rem;
        padding: 5rem;
        position: absolute;
        z-index: 300;
        color: $color-green-2;
        background-color: #fff;
        box-shadow: $shadow-1;

        @include respond(desktop) {
            width: 43rem;
            min-height: 43rem;
        }

        @include respond(phone) {
            width:95%;
            min-height: 80%;
            height: auto;
            padding: 7rem;
            position: relative;
        }

        &--left {
            bottom: 9rem;
            right: 10rem;

            @include respond(desktop) {
                right: 3rem;
                bottom: -18rem;
            }

            @include respond(tab-port) {
                right: 0;
                bottom: -20rem;
            }

            @include respond(phone) {
                top: 0;
                right: 0;
            }
        }

        &--right {
            bottom: 9rem;
            left: 10rem;

            @include respond(desktop) {
                left: 3rem;
                bottom: -18rem;
            }

            @include respond(tab-port) {
                left: 0;
                bottom: -20rem;
            }

            @include respond(phone) {
                top: 0;
                left: 0;
                margin-left: auto;
            }
        }
    }

    &__text {

        h2 {
            span {
                font-size: 2rem;
                font-weight: 300;
                margin-left: 2rem;
            }
        }
    }

    &__image-container {
        width: 70%;
        position: relative;
        z-index: 200;
        font-family: $font-primary-ko;
        font-size: 2rem;
        font-weight: 100;

        @include respond(desktop) {
            width: 85%;
        }

        &--right {
            margin-left: auto;
        }

        @include respond(phone) {
            width: 100%;
        }
    }

    &__img {
        width: 100%;
    }

    &__gradient {
        width: 60%;
        height: 40rem;
        position: absolute;

        @include respond(tab-land) {
            width: 100%;
        }

        @include respond(tab-port) {
            height: 30rem;
        }

        @include respond(phone) {
            height: 50rem;
        }

        &--left {
            right: 38rem;
            bottom: -4rem;
            background-image: linear-gradient(to right bottom, #4343bd, $color-beige, $color-beige-1);

            @include respond(tab-land) {
                right: 24rem;
                bottom: -4rem;
            }

            @include respond(phone) {
                right: 0;
                bottom: -5rem;
            }
        }

        &--right {
            left: 38rem;
            bottom: -4rem;
            background-image: linear-gradient(to right bottom, $color-beige, rgba($color-pink, .4), $color-beige-1);

            @include respond(tab-land) {
                left: 24rem;
                bottom: -4rem;
            }

            @include respond(phone) {
                left: 0;
                bottom: -5rem;
            }
        }
    }

    &__btn {
        margin-top: 5rem;
    }
}


.school-video {
    width: 100%;
    height: auto;
    min-height: 110vh;
    background-color: $color-beige-2;
    position: relative;

    @include respond(desktop) {
        min-height: 70vh;
    }

    @include respond(tab-land) {
        min-height: 80vh;
    }

    @include respond(tab-port) {
        min-height: 60vh;
    }

    @include respond(phone) {
        min-height: 45vh;
    }

    &__bg {
        @include block-center;
        width: 65%;
        border-radius: 1rem; 
        overflow: hidden;

        @include respond(desktop) {
            width: 70%;
        }

        @include respond(phone) {
            width: 90%;
        }
    }

    &__container {
        position: relative;
        width: 100%;
        height: 0;
        padding-bottom: 56.25%;
    }

    &__video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}


.gallery {

    &__container {

        &--1 {
            display: flex;
            justify-content: center;
        }

        &--2 {
            position: relative;
        }
    }

    &__image-container {

        &--1 {
            width: 35%;
            margin-right: 10rem;
        }

        &--2 {
            width: 45%;
            align-self: flex-end;
        }

        &--3 {
            width: 65%;
            margin-left: 9rem;
        }

        &--4 {
            width: 25%;
            position: absolute;
            bottom: -5rem;
            right: 18rem;
        }
    }

    &__img {
        width: 100%;
        height: auto;
        box-shadow: $shadow-1;
    }
}

